:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
  }
  
  body, html{
      height: 100%;
      margin: 0%;
  }
  .pimg1, .pimg2, .pimg3{
      position:relative;
      opacity:0.90;
      background-position:center;
      background-size:cover;
      background-repeat:no-repeat;
    
      /*
        fixed = parallax
        scroll = normal
      */
      background-attachment:fixed;
    }
  .pimg1{
      background-image: url('205610.jpg');
      min-height: 100%;
      max-width: 100%;
      color: white;
  }
  .pimg2{
    background-image: url('img.jpg');
    min-height: 700px;
  }
  .pimg3{
    background-image: url('205608.jpg');
    min-height: 500px;
  }  
  @media(max-width:568px){
      .pimg1, .pimg2, .pimg3{
        background-attachment:scroll;
        width: 100%;
      }
    }
  
  header ,a, ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;
      text-decoration: none;
      color: #f4f4f4;
      opacity: 0.90;
      font-weight:unset;
      font-family: var(--font-sans);
  }
  
  @media (max-width: 980px) {
    html {
        font-size: 16px;
    }
  }
  
  @media (max-width: 768px) {
    html {
        font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    html {
        font-size: 12px;
    }
  }
  @media (max-width: 480px) {
    .nav-list {
      font-size: 9px;
      padding: 0 0;
      margin: 0 0;
    }
  }
  a:hover{
      border: none;
      outline: none;
      border-radius: 10px;
      text-decoration: none;
      color:  rgb(6, 17, 27);
  }
  li{
      margin: 1rem;
  }
  
  .nav-list{
    display: flex;
  }
  
  .nav-list a{
    display: block;
    padding: 1em;
    text-transform: uppercase; 
  }
  
  .ptext{
      position:absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      color: white;
      letter-spacing: 5px;
      font-size: 30px;
      text-transform: uppercase;
  }
  
  
  /* .ptext .border.trans{
    background-color:transparent;
  } */
  
  .section{
      text-align:center;
      padding:3em 2em;
      width: 100%;
      height: fit-content;
  }
    
  .section-light{
     background-color:#f4f4f4;
     color:#666;
  }
    
  .section-dark{
     background-color:#282e34;
     color:#ddd;
  }
  
  .challenge-flex{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    font-family: var(--font-sans);
  }
  
  @media (min-width: 600px) {
    .challenge-flex {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 800px) {
    .challenge-flex {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .challenge-tile{
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    position:relative;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: rgb(105, 96, 96);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (max-width: 700px){
    .challenge-tile{
      height: 350px;
    }
    .challenge-flex{
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  .challenge-tile::before{
    content: "";
    position: absolute;  
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position:  0 0;
    transition: transform calc(var(--d)*1.5) var(--e);
    pointer-events: none;
  }
  .challenge-tile::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d)*2) var(--e);
  }
  
  .challenge-tile:nth-child(1){
    background-image: url('github\ search\ app.jpg');
  }
  .challenge-tile:nth-child(2){
    background-image: url('Tip\ calculator\ app.jpg');
  }
  .challenge-tile:nth-child(3){
    background-image: url('audiophile\ desktop.jpg');
  }
  .challenge-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
  }
  
  .challenge-content > * + * {
    margin-top: 1rem;
  }
  
  .title{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
  }
  
  .cardbtn {
    cursor: pointer;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    margin: 0 auto;
    padding: 1px 10px;
    width: auto;
    border-radius: 5px;
  }
  .cardbtn:hover {
    background-color: black;
  }
  .cardbtn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
  }
  .cardbtn2{
    border: none;
    outline: none;
    margin-bottom: 1.5rem;
    background-color: black;
    color: white;
  }
  @media (hover:hover) and (min-width: 600px){
    .challenge-tile{
      transform: translateY(0);
    }
    .challenge-content{
      transform: translateY(calc(100% - 4.5rem));
    }
    .challenge-content > *  :not(.title){
      /* opacity: 0; */
      transform: translateY(1rem);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
  
  
    .challenge-tile:hover,
  .challenge-tile:focus-within {
      align-items: center;
    }
    .challenge-tile:hover:before,
  .challenge-tile:focus-within:before {
      transform: translateY(-4%);
    }
    .challenge-tile:hover:after,
  .challenge-tile:focus-within:after {
      transform: translateY(-50%);
    }
    .challenge-tile:hover .challenge-content,
  .challenge-tile:focus-within .challenge-content {
      transform: translateY(0);
    }
    .challenge-tile:hover .challenge-content > *:not(.title),
  .challenge-tile:focus-within .challenge-content > *:not(.title) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: calc(var(--d) / 8);
    }
  
  .challenge-tile:focus-within:before, .challenge-tile:focus-within:after,
  .challenge-tile:focus-within .challenge-content,
  .challenge-tile:focus-within .challenge-content > *:not(.title) {
      transition-duration: 0s;
    }
  }
  
  /* for carousel */
  .carousel-style{
    display: flex;
    width: 70%;
    height: 50%;
    margin: 0 auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.486);
  }
 
  .carousel-img-style{
    background-size: cover;
    width: 400px;
    height: 450px;
  }
  @media (max-width: 800px){
    .carousel-img-style{
      background-size: cover;
      width: fit-content;
      height: fit-content;
    }
  }
  
  /* for contacts */
  .contact-section{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading-style{
    font-family: var(--font-sans);
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.90;
    margin-top: 3em;
  }
  .contact-style{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
  }
  
  .contacts{
    display: flex;
    justify-content: center;
    color: #f4f4f4;
    transition: transform 0.3s ease-out;
    transform: translateY(0);
  }
  @media screen and (max-width: 400px) {
    .contact-style{
      display: flex;
      justify-content: center;
      font-size: 12px;
    }
    .section-dark{
      height: max-content;   
    }
  }
  .contacts:hover{
    color: #f4f4f4; 
    transform: translateY(10px);
  }
  
  .lastfooter{
    display: flex;
    padding: 2em 0;
    justify-content: space-evenly;
    border-top: 4px solid rgb(204, 94, 94);
  }